@model IEnumerable<movies.Models.Movies>

<div class="ui container">
    <div class="ui cards carousel-cards">
        @foreach (var movie in @Model)
        {
            <div class="ui card ml-1" style="width: 205px;">
                <div class="image">
                    <img src="@("https://image.tmdb.org/t/p/w200" + @movie.ImagePath)" class="visible content" style="height: 180px;">
                </div>
                <div class="content">
                    <a class="header" data-tooltip="@movie.Title" data-position="bottom right" data-inverted="">
                        @movie.Title.Substring(0, Math.Min(movie.Title.Length, 14))
                    </a>
                    <div class="meta">
                        <span class="date">@movie.Year</span>
                    </div>
                </div>
                <div class="extra content">
                    Rating:
                    <div class="ui yellow disabled rating" data-rating="@movie.Rating" data-max-rating="5"></div>
                </div>
            </div>
        }
    </div>
</div>