@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/fomantic-ui-css/semantic.min.css">


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fomantic-ui-css/semantic.js"></script>
    <script src="~/lib/slick/slick.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>
@* <div class="ui container"> *@
<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui teal image header">
            <i class="ui icon user"></i>
            <div class="content">
                Log-in to your account
            </div>
        </h2>
        <form class="ui large form" id="account" method="post">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input asp-for="Input.Email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input asp-for="Input.Password" placeholder="Password">
                    </div>
                </div>
                <button class="ui fluid large teal submit button" type="submit">Login</button>
                @* <div class="ui fluid large teal submit button">Login</div> *@
            </div>

            <div asp-validation-summary="All" class="ui error message"></div>

        </form>

        <div class="ui message">
            New to us? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign Up</a>
        </div>
    </div>
</div>
@* </div> *@
 @* <partial name="_ValidationScriptsPartial" />  *@
</body>

</html>
@* <div class="row"> *@
@*     <div class="col-md-4"> *@
@*         <section> *@
@*             <form id="account" method="post"> *@
@*                 <h4>Use a local account to log in.</h4> *@
@*                 <hr /> *@
@*                 <div asp-validation-summary="All" class="text-danger"></div> *@
@*                 <div class="form-group"> *@
@*                     <label asp-for="Input.Email"></label> *@
@*                     <input asp-for="Input.Email" class="form-control" /> *@
@*                     <span asp-validation-for="Input.Email" class="text-danger"></span> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <label asp-for="Input.Password"></label> *@
@*                     <input asp-for="Input.Password" class="form-control" /> *@
@*                     <span asp-validation-for="Input.Password" class="text-danger"></span> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <div class="checkbox"> *@
@*                         <label asp-for="Input.RememberMe"> *@
@*                             <input asp-for="Input.RememberMe" /> *@
@*                             @Html.DisplayNameFor(m => m.Input.RememberMe) *@
@*                         </label> *@
@*                     </div> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <button type="submit" class="btn btn-primary">Log in</button> *@
@*                 </div> *@
@*                 <div class="form-group"> *@
@*                     <p> *@
@*                         <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> *@
@*                     </p> *@
@*                     <p> *@
@*                         <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a> *@
@*                     </p> *@
@*                     <p> *@
@*                         <button type="submit" asp-page-handler="SendVerificationEmail" class="btn-link" style="padding:0px;margin:0px;border:0px">Resend email confirmation</button> *@
@*                     </p> *@
@*                 </div> *@
@*             </form> *@
@*         </section> *@
@*     </div> *@
@*     <div class="col-md-6 col-md-offset-2"> *@
@*         <section> *@
@*             <h4>Use another service to log in.</h4> *@
@*             <hr /> *@
@*             @{ *@
@*                 if ((Model.ExternalLogins?.Count ?? 0) == 0) *@
@*                 { *@
@*                     <div> *@
@*                         <p> *@
@*                             There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a> *@
@*                             for details on setting up this ASP.NET application to support logging in via external services. *@
@*                         </p> *@
@*                     </div> *@
@*                 } *@
@*                 else *@
@*                 { *@
@*                     <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal"> *@
@*                         <div> *@
@*                             <p> *@
@*                                 @foreach (var provider in Model.ExternalLogins) *@
@*                                 { *@
@*                                     <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button> *@
@*                                 } *@
@*                             </p> *@
@*                         </div> *@
@*                     </form> *@
@*                 } *@
@*             } *@
@*         </section> *@
@*     </div> *@
@* </div> *@
@* *@
@* @section Scripts { *@
@*     <partial name="_ValidationScriptsPartial" /> *@
@* } *@